html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
footer{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: blueviolet;
    width: 100%;
    text-align: center;
}
.wrapper{
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
li{
    display: inline-block;
}

header li{
    margin: 0 10px;
}
header li:first-of-type {
    margin-left: 0;
}

main{
    width: 650px;
    height: auto;
    background-color: yellow;
    opacity: .70;
}
sidebar{
    width: 260px;
    height: 194;
    float: right;
    text-align: center;
    background-color: blue;
    opacity: .50;
}

#indeximage{
    height: 135px;
    width: 180px;
    padding: 20px;
    float: left;
}
#indexhr{
    text-align: center;
    margin: 0, auto;
    width: 960px;
}
#floatleft{
    float: left;
}
#floatright{
    float: right;
}

form{
    float: left;
    width: 627px;
    height: 587px;
}

 
h1{
    background-color: teal;
    width: 237px;
    height: 90px;
}
/*
.navwrapper{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: red;

}*/